body{
  margin: 0%;
}

.recipe-card{
background-color: rgb(111, 173, 143)
}
.content{
    background-color:rgb(132, 167, 161);

}
.box1,
.box2,
.box3,
.box4,
.box5{
    width: 250px;;
    height: 375px;
    
    
}






.header{
    display: flex;
    align-items: center;
    background-color: rgb(46, 138, 153);

    
}
.links{
    margin-right: 60px;
    margin-left: 0px;
}
.links{
    display: flex;
    gap: 20px;
    padding-left: 50px;
    
   
}
li{
    list-style: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.content{
    display: flex;
    justify-content: center;
    
}    
.content p{
    text-align: center;
    color: gold;
    font-size:30px;
}
.content h1{
    text-align: center;
    font-weight: lighter;
    font-family:serif
   
}
.content001{
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(132, 167, 161);
}
.content0001{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(132, 167, 161);
}

.content01{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(132, 167, 161);
}
.content0 h1,
.content00 h1,
.content000 h1
{
    margin-left: 30px;
    color: rgb(14, 41, 84);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
    
}
.profile-image{
    background: rgb(132, 167, 161);
    box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-left: 25px;
    margin-right: 10px;
  
    
}
.Button.Sign-in{
    margin-left: auto;
}


  
  .container02 p{
    text-align: center;
    
  }
  .action p{
    text-align: center;

  }
  .base p{
    
    align-self: center;
    
  }
  .base{
    background-color: rgb(46, 138, 153);
    height: 80px;


  }
  .base{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  .container02{
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    background-color: rgb(132, 167, 161);
   

  }
  .inside{
    width: 400px;
  }
    .part1 img{
        
        width: 250px;
       
        object-fit:cover;

    }
    .profile-image img{
       width: 48px;
       height: 48px;
       border-radius: 50%;
        object-fit:cover;
       
       
    }
    .container03{
      width: auto;;
    height: 200px;
    
    background-color:rgb(132, 167, 161);
    

    }
    .container02{width: auto;
      height: 200px;
      
      border-bottom: 0;
    }
    .container03 .action{
      height: 100px;
     
      width: 800px;
      border-radius: 10px;
     
      

    }
    .container03{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .action{
      display: flex;
      align-items: center;
      justify-content:space-evenly;

    }
    .Button.Sign-up{
      width: 53.953;
      height:21px;
      border: 1px;
    }
    .action button{
      height: 30px;
      width:max-content;
      border-radius: 8px;
      border: 1px;
      margin-right: 15%
    }
   .links{
    margin-right: auto;
   }
   .logo{
    margin-left: 10px;
   }
   a{
    text-decoration: none;
    color: rgb(14, 41, 84);
   }
   .Sign-up img{
    
    height: 28px;
    width: 71px;
    border-radius: 8px;
      

    object-fit:fill;
   }
   
   .part1 p,
    .part2 p,
   .part3 p,
    .part4 p,
    .part5 p{
   

    text-align: center;
    font-family:sans-serif;
   }
   .logo p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder;
   }
   .recipe-card{
    background-color: rgb(46, 138, 153);
   }
.action{
  background-color: rgb(31, 110, 140);
}
.base p{
  color: rgb(14, 41, 84);
}
.container02 .inside p{
text-decoration-color: rgb(14, 41, 84);
}
.content .image img{
  width: 1900px;
  height: 400px;
  object-fit:cover;
  
}
  
        
     
        
    
  
  

    





    
