
.recipe-card{
background-color: rgb(111, 173, 143)
}
.content{
    background-color: rgb(199, 199, 172);

}
.box1,
.box2,
.box3,
.box4,
.box5{
    width: 250px;;
    height: 300px;
    border: 1px solid black;
    
}
.logo p{
    margin-left: 10px;
}

.header{
    display: flex;
    align-items: center;
    
}
.links{
    margin-right: 60px;
    margin-left: 0px;
}
.links{
    display: flex;
    gap: 20px;
    
   
}
li{
    list-style: none;
    
}
.content{
    display: flex;
    justify-content: center;
}    
.content p{
    text-align: center;
    color: gold;
    font-size:30px;
}
.content h1{
    text-align: center;
   
}
.content001{
    display: flex;
    justify-content: space-evenly;
}
.content0001{
    display: flex;
    justify-content: space-evenly;
}

.content01{
    display: flex;
    justify-content: space-evenly;
}
.content0 h1,
.content00 h1,
.content000 h1
{
    margin-left: 30px;
    color: rgba(153, 42, 39, 0.904);
 
    
}
.profile-image{
    background: white;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-left: 25px;
    margin-right: 10px;
  
    
}
.Button.Sign-in{
    margin-left: auto;
}
.Button{
    margin-left: auto
}
  .content001.part1{
    display: block;
  }

    





    
